@import "color";

// タイトルの下に真ん中からボーダーラインを入れる
// タイトル下のボーダーライン

// .borderTrigger
.border::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2vw;
  background: linear-gradient(transparent 60%, $sky);
  transform: translateX(-50%);
  animation: border_anim 0.8s linear forwards;
}
@keyframes border_anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

// 下からフワッと
// .fadeUpTrigger
.fadeUp {
  animation: fadeUpAnime 0.8s forwards; /* fadeUpAnimeを0.8秒で一回実行 */
  opacity: 0;
  // visibility: visible;
}
@keyframes fadeUpAnime {
  from {
    opacity: 0; /* 初めは見えないようにしておく */
    transform: translateY(50px); /* 50px下に動かしておく */
  }

  to {
    opacity: 1; /* 可視化する */
    visibility: visible;
    transform: translateY(0); /* 元の位置に戻す */
  }
}

/* fadeLeft */
.fadeLeft {
  animation: fadeLeftAnime 0.8s forwards; /* fadeLeftAnimeを0.8秒で一回実行 */
  opacity: 0;
  overflow: hidden;
  visibility: visible;
}
@keyframes fadeLeftAnime {
  from {
    opacity: 0; /* 初めは見えないようにしておく */
    transform: translateX(100px); /* 100px右に動かしておく */
  }

  to {
    opacity: 1; /* 可視化する */
    transform: translateX(0); /* 元の位置に戻す */
    visibility: visible;
  }
}

/* fadeRight */
.fadeRight {
  animation: fadeRightAnime 0.8s forwards; /* fadeRightAnimeを0.8秒で一回実行 */
  opacity: 0;
  overflow: hidden;
  visibility: visible;
}
@keyframes fadeRightAnime {
  from {
    opacity: 0; /* 初めは見えないようにしておく */
    transform: translateX(-100px); /* 100px左に動かしておく */
  }

  to {
    opacity: 1; /* 可視化する */
    transform: translateX(0); /* 元の位置に戻す */
    visibility: visible;
  }
}
